body {
	background : #FCFCFC;
}

 .checkboxLabel{
 	margin-right: 20px;
 	cursor: pointer;
 }

 .center{
 	text-align: center;
 }

@for $i from 1 through 16 {
    .top#{($i * 5)}
    {
        margin-top: $i*5px;
    }
}


@for $i from 1 through 16 {
    .bottom#{($i * 5)}
    {
        margin-bottom: $i*5px;
    }
}